<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>
      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if current_user && current_user.respond_to?(:full_name) %>
  <%= form.text_field :user_name, placeholder: 'User name', value: current_user.full_name, hidden: true %>
  <% end %>
  <p style="color: green"><%= notice %></p>

<div class="row no-gutters">
<div class="col no-gutters">
<div class= "leftside">
  <header class= "newissue-cabecera-izquierda">
    <header>
      <h1>New issue</h1>
    </header>

    <div class= "subject-container">
          <%= form.text_field :issue, class:"tg-input-subject", placeholder: "Add the subject you want" %>
    </div>

    <p></p>

    <% if @issue.block_status %>
    <div id="block-reason" style="background-color: #ff6969; padding-left: 5px;">
      <span> <img src="/img/Icon-block-white.png" style="padding-right: 5px; width: 20px; height: 15px;"/> <span style="color: #ffffff;"> Blocked </span>
       <span style="padding-left: 5px; color: #ffcfcf;"><%= @issue.reason_block %></span></span>
      </span>
    </div>
    <% end %>
    <p></p>

    <div class="tag issue">
          <button class="btn-tag" id="tag-button" type="button">
            <span>Add tag +</span>
          </button>
    </div>

    <p></p>

    <div class= "description-container">
      <%= form.text_field :description, class:"tg-input-description", placeholder: "Would you be so kind as to add a short description?"%>
    </div>

     <p></p>

    <div>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :unblock_clicked, '' %>
      <%= hidden_field_tag :block_clicked, '' %>
      <%= form.submit %>
      <script><%= @versions = @issue.issue_versions.order(created_at: :desc) %></script>
    </div>

    <div> <button type="button" class="btn-filter" style="color: #545454" onclick= showandhideActivities() >
  <% count = @versions.count { |version| version.attribute_name != "updated_at" && version.attribute_name != "user_name" } %>
  <%= count %> Activities
  </button>
  <div id= "activities" class= "hidden-inputs">
    <% if @versions.present? %>
      <table>
        <tbody>
          <% @versions.each do |version| %>
            <% unless version.attribute_name.in?(["updated_at", "user_name"]) %>
              <tr>
                <td style="background-color: #dedede; border-top: 1px solid #ccc"><%= version.attribute_name %></td>
                <td style="padding-left: 20px; border-top: 1px solid #ccc">
                  <% if version.old_value === "t" %>
                    true
                  <% elsif version.old_value === "f" %>
                    false
                  <% elsif version.old_value.blank? %>
                    not set
                  <% elsif version.attribute_name == "due_date" %>
                    <% old_value = DateTime.strptime(version.old_value, "%Y-%m-%d") %>
                    <%= old_value.strftime('%d %b %Y') %>
                  <% else %>
                    <%= version.old_value %>
                  <% end %>
                </td>
                <td style="padding-left: 20px; padding-right: 20px; border-top: 1px solid #ccc">></td>
                <td style="padding-right: 20px; border-top: 1px solid #ccc">
                  <% if version.new_value === "t" %>
                    true
                  <% elsif version.new_value === "f" %>
                    false
                  <% elsif version.new_value.blank? %>
                    not set
                  <% elsif version.attribute_name == "due_date" %>
                    <% new_value = DateTime.strptime(version.new_value, "%Y-%m-%d") %>
                    <%= new_value.strftime('%d %b %Y') %>
                  <% else %>
                    <%= version.new_value %>
                  <% end %>
                </td>
                <td style="color:#a9a9a9; border-top: 1px solid #ccc">
                  <% if version.created_at_change %>
                  <%= version.created_at_change.strftime('%d %b %Y %H:%M') %>
                  <% end %>
                  <% if version.user_full_name %>
                  <%= version.user_full_name %>
                  <% else %>
                  User not logged
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>There's no activities.</p>
    <% end %>
  </div>
  </div>

    <p></p>

    <%= link_to "BACK TO ISSUES", issues_path, class:"btn btn-success3" %>

    </header>
  </div>
</div>

<div class= "col no-gutters">
<div class= "rightside">
  <header class= "newissue-cabecera-derecha">

  <p style="text-align:right;"><%= link_to "X", issues_path, class:"btn btn-success3" %></p>
  <div>
    <h2> <%= form.label :status, style: "display: block" %> </h2>
    <%= form.select(:status, options_for_select([['New','New'],['In progress','In progress'],['Ready for test','Ready for test'],['Closed','Closed'],['Needs info','Needs info'],['Rejected','Rejected'],['Postponed','Postponed']]))%>
  </div>

  <p></p>


  <div>
    <h2><%= form.label :tipus, style: "display: block" %></h2>
    <%= form.select(:tipus, options_for_select([['Bug','Bug'],['Question','Question'],['Enhancement','Enhancement']]))%>
  </div>

  <p></p>

  <div>
    <h2><%= form.label :severity, style: "display: block" %></h2>
     <%= form.select(:severity, options_for_select([['Wishlist','Wishlist'],['Minor','Minor'],['Normal','Normal'],['Important','Important'],['Critical','Critical']]))%>
  </div>

  <p></p>

  <div>
    <h2><%= form.label :priority, style: "display: block" %></h2>
     <%= form.select(:priority, options_for_select([['Low','Low'],['Normal','Normal'],['High','High']]))%>
  </div>

  <p></p>

 <div>
    <h2><%= form.label :assign_to, style: "display: block"%></h2>
    <%= form.select :assign_to, options_for_select(User.all.map{ |u| [u.full_name, u.full_name] }), include_blank: true %>
  </div>

  <div>
    <h2><%= form.label :assignee, style: "display: block"%></h2>
     <%= form.select :assignee, options_for_select(User.all.map{ |u| [u.full_name, u.full_name] }), include_blank: true %>
  </div>

  <p></p>

  <button id="btn-due_date" class="btn-filter20" style="width: 40px; height: 40px;" type="button" onclick= show() >
    <img src="/img/Icon-watch.png" style="width: 100%; height: 100%;"/>
  </button>
  <div id="inputs" class="hidden-inputs">
    <p style="text-align:right;"><button style="text-align:right;" type="button" class="btn btn-success3" onclick= hide() >X</button></p>
    <div class="container-popup">
      <h4 class="title">Set due date</h4>
      <p>
      <%= form.text_field :due_date, id: "input1", class: "tg-input-subject", placeholder: (@issue.due_date.present? ? @issue.due_date.strftime('%Y-%m-%d') : "Select date")%>
      </p>
      <p></p>
      <span>Reason for the due date</span>
      <%= form.text_field :reason_due_date, id: "input2", type: "text", class: "tg-input-description", placeholder: (@issue.reason_due_date.present? ? @issue.reason_due_date : "Why does user story need a due date?") %>
      <p></p>
      <%= form.submit "SAVE", class: "btn btn-success2", id: "button-save", onclick: "changeButtonColor()" %>
    </div>
  </div>
  <p></p>

  <% if @issue.block_status %>
    <button id="btn-block-present" class="btn-filter20" style="background-color:#ff6969; width: 40px; height: 40px;" onclick='
    document.querySelector("input[name=unblock_clicked]").value = "true"; document.querySelector("input[name=block_clicked]").value = "false";'>
      <script>
        document.getElementById("block-reason").classList.remove("hidden-inputs");
        document.getElementById("block-reason").classList.add("popup-effect-block");
        let buttonColorblock = "#ff6969";
        localStorage.setItem("buttonColorblock", buttonColorblock);
      </script>
      <img src="/img/Icon-block.png" style="width: 100%; height: 100%;"/>
    </button>
  <% else %>
    <button id="btn-block" class="btn-filter20" style="width: 40px; height: 40px;" type="button" onclick="document.getElementById('inputs-block').classList.remove('hidden-inputs'); document.getElementById('inputs-block').classList.add('popup-effect');">
      <img src="/img/Icon-block.png" style="width: 100%; height: 100%;" />
    </button>

  <% end %>
  <div id="inputs-block" class="hidden-inputs">
    <p style="text-align:right;"><button style="text-align:right;" type="button" class="btn btn-success3" onclick= hide() >X</button></p>
    <div class="container-popup">
      <h4 class="title">Blocking issue</h4>
      <%= form.text_field :reason_block, id: "input-block", type: "text", placeholder: (@issue.reason_block? ? @issue.reason_block : "Please explain the reason") %>
      <p></p>
      <%= form.submit "SAVE", class: "btn btn-success2", id: "button-save", onclick: "document.querySelector('input[name=block_clicked]').value = 'true', document.querySelector('input[name=unblock_clicked]').value = 'false'" %>
    </div>
  </div>

  <script>
  function show() {
    document.getElementById("inputs").classList.remove("hidden-inputs");
    document.getElementById("inputs").classList.add("popup-effect");
  }

  function hide() {
    document.getElementById("inputs").classList.add("hidden-inputs");
    document.getElementById("inputs").classList.remove("popup-effect");
    document.getElementById("inputs-block").classList.add("hidden-inputs");
    document.getElementById("inputs-block").classList.remove("popup-effect");
  }

  function showandhideActivities() {
    if (document.getElementById("activities").classList == "hidden-inputs") {
      document.getElementById("activities").classList.add("activities-effect");
      document.getElementById("activities").classList.remove("hidden-inputs");
    }
    else {
      document.getElementById("activities").classList.add("hidden-inputs");
      document.getElementById("activities").classList.remove("activities-effect");
    }
  }


  document.addEventListener("DOMContentLoaded", function() {
    flatpickr("#input1", {
      dateFormat: "d M Y",
      enableTime: false,
      <% if @issue.due_date.present? %>
        defaultDate: new Date('<%= @issue.due_date.strftime('%Y-%m-%d') %>'),
      <% end %>
    });
  });

  function changeButtonColor() {
    if (<%= raw @issue.due_date.present?.to_json %>) {
      const dueDate = '<%= @issue.due_date %>';
      const btnDueDate = document.getElementById("btn-due_date");
      const today = new Date();
      const dueDateObj = new Date(dueDate);

      const timeDiff = dueDateObj.getTime() - today.getTime();
      const diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

      let buttonColor;

      if (diffDays <= 0) {
        buttonColor = "#ff6969";
      }
      else if (diffDays <= 15) {
        buttonColor = "#ffb266";
      }
      else {
        buttonColor = "#99cc99";
      }
      btnDueDate.style.backgroundColor = buttonColor;
      localStorage.setItem('buttonColor', buttonColor);
    }

    else {
      let buttonColor = "light-grey";
      const btnDueDate = document.getElementById("btn-due_date");
      btnDueDate.style.backgroundColor = buttonColor;
      localStorage.setItem('buttonColor', buttonColor);
    }
  }

  changeButtonColor();

  const storedButtonColor = localStorage.getItem('buttonColor');
  if (storedButtonColor) {
    document.getElementById("btn-due_date").style.backgroundColor = storedButtonColor;
  }

  </script>

  </header>
</div>
</div>
</div>
<% end %>