<%= form_with(model: issue) do |form| %>
  <% if issue.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
        <% issue.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p style="color: green"><%= notice %></p>

<div class="row no-gutters">
<div class="col no-gutters">
<div class= "leftside">
  <header class= "newissue-cabecera-izquierda">
    <header>
      <h1>New issue</h1>
    </header>

    <div class= "subject-container">
          <input type="text" class="tg-input-subject" placeholder="Add the subject you want">
    </div>

    <p></p>

    <div class="tag issue">
          <button class="btn-tag" id="tag-button">
            <span>➔ Add tag</span>
          </button>
    </div>

    <p></p>

    <div calss= "description-container">
      <input type="text" class="tg-input-description" placeholder="Would you be so kind as to add a short description?">
    </div>

    <p></p>

  </section>
  <div>
    <%= form.submit %>
  </div>

 <p></p>

  <%= link_to "BACK TO ISSUES", issues_path, class:"btn btn-success3" %>

  </header>
</div>
</div>

<div class= "col no-gutters">
<div class= "rightside">
  <header class= "newissue-cabecera-derecha">

  <p style="text-align:right;"><%= link_to "X", issues_path, class:"btn btn-success3" %></p>

    <div>
    <h2> <%= form.label :status, style: "display: block" %> </h2>
    <%= form.text_field :status, class:"box"%>
  </div>

  <p></p>

     <div>
    <h2><%= form.label :tipus, style: "display: block" %></h2>
    <%= form.text_field :tipus, class:"box"%>
  </div>

  <p></p>

  <div>
    <h2><%= form.label :severity, style: "display: block" %></h2>
    <%= form.text_field :severity, class:"box"%>
  </div>

  <p></p>

  <div>
    <h2><%= form.label :priority, style: "display: block" %></h2>
    <%= form.text_field :priority, class:"box"%>
  </div>


  <p></p>

  <div>
    <h2><%= form.label :issue, style: "display: block" %></h2>
    <%= form.text_field :issue, class:"box"%>
  </div>

  <p></p>

  <div>
    <h2><%= form.label :assign_to, style: "display: block"%></h2>
    <%= form.text_field :assign_to, class:"box"%>
  </div>

  </header>
</div>
</div>
</div>
<% end %>
