<div id="<%= dom_id issue %>">


  <p>
    <strong>Tipus:</strong>
    <%= issue.tipus %>
  <p>
    <strong>Severity:</strong>
    <%= issue.severity %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= issue.issue %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Assign to:</strong>
    <%= issue.assign_to %>
  </p>

  <p>
    <strong>Attachments:</strong>

    <p></p>

    <% @issue.arxius.each do |arxiu| %>
      <div style="display: flex; justify-content: space-between;">
        <%= link_to raw("<img src='https://cdn-icons-png.flaticon.com/512/1085/1085716.png', width='35'>"),
        url_for(arxiu.file) %>
        <%= form_with(model: [arxiu.issue, arxiu], method: :delete, local: true) do |form| %>
          <%= form.submit "Remove Attachment", class:"attachments_box" %>
          <p></p>
        <% end %>
      </div>
    <% end %>

    <p></p>

    <%= form_with(model: [@issue, Arxiu.new], url: issue_arxius_path(@issue), local: true) do |form| %>
      <%= form.file_field :file %>
      <%= form.submit "Save" %>
    <% end %>

  </p>

</div>
