<div id="<%= dom_id issue %>">


  <p>
    <strong>Tipus:</strong>
    <%= issue.tipus %>
  <p>
    <strong>Severity:</strong>
    <%= issue.severity %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Issue:</strong>
    <%= issue.issue %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Assign to:</strong>
    <%= issue.assign_to %>
  </p>

</div>
