<div id="<%= dom_id issue %>">

  <p>
    <span1>#<%= issue.id %></span1>
    <span2><%= issue.issue %></span2>
    <br>
    <small1>ISSUE</small1>
  </p>

  <p>
    <strong>Tipus:</strong>
    <%= issue.tipus %>
  <p>
    <strong>Severity:</strong>
    <%= issue.severity %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= issue.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Assign to:</strong>
    <%= issue.assign_to %>
  </p>

</div>
