<p style="color: green"><%= notice %></p>

<div class= "issue-parte arriba">
  <header class= "issue-cabecera">
    <header>
      <h1>Issues</h1>
    </header>
    <p>
    <div id ="list_users">
      <%= link_to "Team", users_path, class:"btn btn-success-left" %>
    </div>
    </p>
    <div id= "login">
            <% if current_user %>
              <%= link_to user_path(current_user.id) do %>
               <% if current_user.image.attached? %>
                 <%= image_tag current_user.image, :style => "height: 50px; width: 50px; margin-left: auto; margin-right: auto; border-radius: 50%; object-fit: cover" %>
               <% else %>
                 <img src="/assets/default-user.jpg" style="height: 50px; width: 50px; margin-left: auto; margin-right: auto; border-radius: 50%">
               <%end%>
              <% end %>
              <p>
                <%= button_to "Log out", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class:"btn btn-success-left" %>
              </p>
            <% else %>
              <%= button_to "Log in", user_google_oauth2_omniauth_authorize_path, data: {turbo: "false"}, method: :post, class:"btn btn-success-left" %>
            <% end %>
    </div>
    <div id= "contenidor">
      <p>
        <div class="opciones issue">
          <button class="btn-filter" id="filters-button">
            <img class="filters-icon" src="/img/Icon-filter.png" alt="Filters" style=""width: 50px;"">
            <span>Filters</span>
          </button>
        </div>
      </p>
      <p>
        <div class= "search-container">
          <input type="text" class="tg-input-search" placeholder="subject or reference">
          <img src="/img/Icon-search.png" alt="icono" class="search-icon">
        </div>
      </p>
      <p>
        <label class= "tag-switch">
            <input type="checkbox" id="mySwitch" onclick="myFunction()" class="checkbox-tags">
            <span class="slider"></span>
        </label>
      </p>
      <span style="display: inline-block; margin-left: 50px;">Tags</span>
      <%= link_to "+ NEW ISSUE", new_issue_path, class:"btn btn-success" %>
      <p>
        <div>
          <button class="boton-new-bulk" onclick= show()>
            <img class="img-new-bulk" src="/img/Icon-new-bulk-white.png"/>

          </button>
        </div>
      </p>
    </div>
  </header>
</div>

<script>
function myFunction() {
  var checkBox = document.getElementById("mySwitch");
  if (checkBox.checked == true){
  } else {
  }
}
</script>


<div id="issues">
  <table class="table table-striped table-borderless">
    <thead>
      <tr>
        <th>TYPE</th>
        <th>SEVERITY</th>
        <th>PRIORITY</th>
        <th>ISSUE</th>
        <th>STATUS</th>
        <th>MODIFIED</th>
        <th>ASSIGN TO</th>
      </tr>
    </thead>
    <% @issues.each do |issue| %>
    <tbody>
      <tr>
        <td><%= issue.tipus %></td>
        <td><%= issue.severity %></td>
        <td><%= issue.priority %></td>
        <td>
          <%= link_to issue.issue, issue, class: "no-underline" %>
        </td>
        <td><%= issue.status %></td>
        <td><%= issue.updated_at.strftime("%d %b %Y") %></td>
        <td><%= issue.assign_to %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <br>
  <div id ="bulkinsert" class="hidden-bulk">
    <h10><center>New bulk insert</center></h10>
      <%= form_tag({ action: 'create_issues_bulk' }, method: 'post') do %>
        <%= text_area_tag :issue_titles, @issue, class: "tg-input-search2", rows: 10, placeholder:"One item per line..." %>
        <%= submit_tag "SAVE", class: "btn btn-success9" %>
      <% end %>
  </div>
  <br>
  <br>
</div>

 <script>
    let message = false;
    function show() {
      if (message === false) {
        document.getElementById("bulkinsert").classList.remove("hidden-bulk");
        message = true;
      }
      else {
        document.getElementById("bulkinsert").classList.add("hidden-bulk");
        message = false;
      }
    }
  </script>