<p style="color: green"><%= notice %></p>

<p><%= link_to "Home", issues_path, class:"btn btn-success-left" %></p>

<div class="profile-info">
    <p>
        <% if @user.image.attached? %>
            <%= image_tag @user.image, :style => "height: 200px; width: 200px; margin-left: auto; margin-right: auto; border-radius: 50%; object-fit: cover" %>
        <% else %>
            <img src="/assets/default-user.jpg" style="height: 200px; width: 200px; margin-left: auto; margin-right: auto; border-radius: 50%">
        <%end%>
        <h1><%= @user.full_name %></h1>
        <h2><%= @user.email %></h2>
        <% if @user.bio? %>
            <%= @user.bio %>
        <% else %>
            User has no bio.
        <% end %>
    </p>
</div>
<p>
    <% if @user == current_user %>
    <%= link_to "Edit", edit_user_registration_path, class:"btn btn-success-left" %>
<% end %>
</p>

<p>
    <h2>Timeline</h2>
</p>

<p>
    <h2>Watched</h2>
    <% if @user.watched_issues.present? %>
      <% @user.watched_issues.each do |issue| %>
        <div>
          <h3><%= "##{issue.id}" %>
          <%= link_to issue.issue, issue_path(issue), style:
            "text-decoration: none;
            font-family: Ubuntu-Medium, Arial, Helvetica,sans-serif;
            color: #008aa8;
            font-size: 16px;
            font-weight: normal;
            margin-top: 1rem;
            margin-bottom: 0.2rem;"
          %>
        </div>
        </h3>
      <% end %>
    <% else %>
      <p>No watched issues found.</p>
    <% end %>

</p>
<% if @user == current_user %>
    <%= button_to "Log out", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class:"btn btn-success-left" %>
<% end %>